extends navBar

block content

    // Introductory text for the menu section
    p(class="intro-text") Here are the delicious menu items

    .formwrapper
        // Form for sorting options
        form(action="/menuorder" method="GET")
            // Dropdown for Category
            div.dropdown-wrapper
                label(for="category") 
                select(name="category" onchange="this.form.submit()")
                    option(value="All" selected=categoryFilter === 'All') All Categories
                    option(value="starter" selected=categoryFilter === 'starter') Starters
                    option(value="main" selected=categoryFilter === 'main') Main
                    option(value="dessert" selected=categoryFilter === 'dessert') Desserts

            // Dropdown for Price
            div.dropdown-wrapper
                label(for="sort") 
                select(name="sort" onchange="this.form.submit()")
                    option(value="PriceAsc" selected=sortBy === 'PriceAsc') Price: Low to High
                    option(value="PriceDesc" selected=sortBy === 'PriceDesc') Price: High to Low

    // Menu table display
    table(class="menu-table", border="0")
        // Table header
        thead
            tr
                th 
                th Name
                th Price
                th Add
                th Quantity
                th Total Price

        // Table body
        tbody
            // Loop through the data
            each item in data
                tr
                    // Display item image
                    td
                        if item.imagePath
                            img(src=item.imagePath, alt=item.Name, width="100", height="100") 
                        else
                            p No image available
                    
                    // Display item name
                    td #{item.name}
                    
                    // Display item price
                    td £#{item.price}
                    
                
                    
                    // Add/Remove buttons column
                    td
                        button(type="button" class="increment-button" 
                            data-id=item.id 
                            data-name=item.name 
                            data-price=item.price) +
                        button(type="button" class="decrement-button" 
                            data-id=item.id 
                            data-name=item.name 
                            data-price=item.price) -

                    // Quantity column
                    td(id=`quantity-${item.id}`) 0

                    // Total price column
                    td(id=`total-${item.id}`) £0.00

        // Table footer for total sum
        tfoot
            tr
                td(colspan="5") Total Sum
                td(id="total-sum", colspan="2") £0.00


