extends navBar

block content

    // Introductory text for the menu section
    p(class="intro-text") Here are the delicious menu items:

    // Menu table display
    table(class="menu-table", border="0")

        // Table header
        thead
            tr
                th 
                th Name
                th Price
                th Description

        // Table body
        tbody
            // Loop through the data
            for items in data
                tr
                    td
                        // Display image with fallback
                        if items.imagePath
                            img(src=items.imagePath, alt=items.Name, width="100", height="100")
                        else
                            p No image available
                    td #{items.Name}
                    td £#{items.Price}
                    td #{items.Description}

