extends navbar

block content
    
    p(class="intro-text") Here are your current and past reservations.

    h2(class="upcomingres") Upcoming Reservations
    table(id="comingres" class="menu-table", border="0")
        thead
            tr
                th Name
                th Date
                th Start Time
                th Guests
                th Allergies
        tbody
            - if (upcomingReservations.length > 0)
                each reservation in upcomingReservations
                    tr
                        td #{reservation.name || 'N/A'}
                        td #{new Date(reservation.Date).toLocaleDateString()}
                        td #{reservation.StartTime}
                        td #{reservation.Number_of_guests}
                        td #{reservation.Allergies || 'None'}
            - else
                tr
                    td(colspan="5") No upcoming reservations.

    h2(class="pastres") Past Reservations
    table(id="pastres" class="menu-table", border="0")
        thead
            tr
                th Name
                th Date
                th Start Time
                th Guests
                th Allergies
        tbody
            - if (pastReservations.length > 0)
                each reservation in pastReservations
                    tr
                        td #{reservation.name || 'N/A'}
                        td #{new Date(reservation.Date).toLocaleDateString()}
                        td #{reservation.StartTime}
                        td #{reservation.Number_of_guests}
                        td #{reservation.Allergies || 'None'}
            - else
                tr
                    td(colspan="5") No past reservations.
