extends navbar 

block content
  .container-res
    h1.booktime Book a time!

    // Display Error Message if filters are incomplete
    if timeslotError
      .error-message
        p= timeslotError
        p Please fill in all required fields and try again.

    // Filter Form Section
    form.filter-form(method='GET', action='/timeslots')
      .filters
        .filter-group
          label(for='guests') Guests:
          input#guests(type='number', name='guests', min='1', placeholder='Enter number of guests')

        .filter-group
          label(for='date') Date:
          input#date(type='date', name='date')

        .filter-group
          label(for='time') Time:
          input#time(type='time', name='time')

        .filter-group
          label(id='placeholder' for='submit') placeholder:
          button(type='submit', class='filter-button') Apply Filters

    .container-formres
      // Show Friendly Message for Closest Available Dates/Times
      if timeslotMessage && !(timeSlots && timeSlots.length > 0)
        .info-message
          p= timeslotMessage
      
      // Display Available Time Slots
      if timeSlots && timeSlots.length > 0
        .info-message
          p= timeslotMessage
        each dateSlot in timeSlots
          hr
          h4.displayed-date= dateSlot.date
          .time-slots
            each time in dateSlot.times
              button.time-slot(data-time=time data-date=dateSlot.date)= time
      else
        p No available time slots at this time.

    // Select Button for Final Confirmation
    .select-container
      button#confirm-btn(type='button') Select
